DATABASE ="mongodb+srv://bugbug:<db_password>@cluster0.itcksmx.mongodb.net/?appName=Cluster0"
EMAIL_USERNAME="levana@gmail.com" # Email của mật khẩu ứng dụng
EMAIL_PASSWORD="mật khẩu ứng dụng" # Mật khẩu ứng dụng
EMAIL_SECURE="false" # false: http, true: https